<div>
  <div class="home jumbotron centered">
    <h1>Welcome to the angular2 Polls App!</h1>
    <div *ngIf="question_list">
      <h3>Please Select a Question to Answer</h3>
      <li *ngFor="#question of question_list">
       <span><h4><a href="javascript:void(0)"  (click)="getClicked(question.id)">Question {{question.id}}: {{question.question_text}}</a></h4></span>
        <span *ngIf="clickedQuestion == question.id">
          <h4>Please Select a Choice</h4>
          <div *ngFor="#choice of choice_list">
            <li  *ngIf="choice.question == question.id">
              <a href="javascript:void(0)" (click)="submitVote(choice.id, choice.votes, choice.choice_text, choice.question)">{{choice.choice_text}}</a>
               votes = {{choice.votes}}

            </li>
          </div>

        </span>
      </li>
    </div>

    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>

  </div>
</div>

